.noShow {
    display: none;
}

header {
    display: flex;
    flex-flow: column;
    align-items: center;
}

h1 {
    font-size: 4rem;
}

header p {
    font-size: 3rem;
}

header span {
    font-size: 2rem;
}

.portrait {
    position: relative;
    border: 5px solid black;
    border-radius: 50%;
    width: 40%;
    max-width: 15rem;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    text-decoration: none;
}

.smallLogo {
    min-width: 2rem;
    min-height: 2rem;
    max-width: 6rem;
    max-height: 3rem;
}

.largeLogo {
    min-width: 3rem;
    min-height: 3rem;
    max-width: 8rem;
    max-height: 5rem;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    margin: 1rem;
    display: flex;
    justify-content: flex-end;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
    
    header p {
        font-size: 2rem;
    }
    
    header span {
        font-size: 1.5rem;
    }

    .portrait {
        border-width: 3px;
    }
}