.home header {
    margin: 2rem;
}

.home h1 {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.home h1 span {
    font-weight: lighter;
    font-size: 4rem;
}

.home h1 img {
    width: 40%;
}

.home header p {
    margin: 0;
}

.home img.portrait {
    margin-top: 1rem;
}

.home main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2rem;
}

.home main a {
    width: 70%;
    height: 10vh;
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-size: cover;
}

.home main a.apps {
    background-image: url("https://russ-riser-portfolio.s3-us-west-1.amazonaws.com/purpleCard.JPG");
}

.home main a.tech {
    background-image: url("https://russ-riser-portfolio.s3-us-west-1.amazonaws.com/suit.jpg");
}

.home main a.about {
    background-image: url("https://russ-riser-portfolio.s3-us-west-1.amazonaws.com/suit.jpg");
}

