.tech {
    font-size: 1.5rem;
    font-weight: lighter;
}

.tech section {
    width: 70%;
    margin-bottom: 2rem;
}

.tech main {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.tech ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: 5px solid var(--secondaryBackColor);
    padding: 1rem;
}

.tech li {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    margin: 1rem 2rem;
}

.tech li img {
    margin-bottom: 0.5rem;
}


