.apps article {
    margin: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-areas: 
        "img tech"
        "img text"
        "live code";
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
    align-items: center;
    justify-items: center;
}

.apps article.even {
    grid-template-areas:
        "tech img"
        "text img"
        "code live";
}

.apps article .app {
    width: 100%;
    height: 100%;
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}

.apps article .stack {
    grid-area: tech;
    align-self: flex-end;
}

.apps article .code {
    grid-area: code;
}

.apps article .code a {
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    margin: 1rem;
}

.apps article .text {
    grid-area: text;
}

.apps article .live {
    grid-area: live;
}

.apps article .live, .apps article .code {
    align-self: flex-start;
    margin: 1rem
}

.apps a.app.iterate {
    background-image: url("https://russ-riser-portfolio.s3-us-west-1.amazonaws.com/purpleCard.JPG" );
}

.apps a.app.violestates {
    background-image: url("https://russ-riser-portfolio.s3-us-west-1.amazonaws.com/house.JPG" );
}

.apps a.app.genesis {
    background-image: url("https://russ-riser-portfolio.s3-us-west-1.amazonaws.com/genesis.jpg" );
}

.apps ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline-start: 0;
}
